*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow: hidden;
    animation: shakebody linear .6s infinite;
}
.sky{
    height: 100vh;
    position: absolute;
    width: 100%;
    background-image: url(img/background.jpg);
}
.trees{
    height: 62vh;
    width: 100%;
    background-size: cover;
    background-image: url(img/trees.png);
    position: absolute;
}
.track{
    position: absolute;
    height: 60vh;
    width: 10000vh;
    /* background-size: cover; */
    background-image: url(img/track.png);
    top: 62vh;
    background-repeat: repeat-x;
    animation: carMove linear 20s infinite;

}
.cars{
    height: 100px;
    width: 380px;
    position: absolute;
    background-size: cover;
    background-image: url(img/car_body.png);
    background-repeat: no-repeat;
    left: 444px;
    bottom: 191px;
    animation: shake linear .6s infinite;
}
.wheel{

}
.wheel1 img{
    position: relative;
    width: 77px;
    top: 36px;
    left: 42px;
    animation: wheelRotation linear .6s infinite;

}

.wheel2 img{
    position: relative;
    width: 77px;
    top: -38px;
    left: 234px;
    animation: wheelRotation linear .6s infinite;


}
@keyframes wheelRotation{
    100%{
        transform:rotate(360deg);
    }
}
@keyframes carMove{
    100%{
        transform:translateX(-500vw);
    }

}
@keyframes shake{
    0%{
        transform:translateY(-5px);
        
    }
    50%{
        transform:translateY(5px);
        
    }
    100%{
        transform:translateY(-5px);
        
    }
}
@keyframes shakebody{
    0%{
        transform:translateY(-5px);
        
    }
    50%{
        transform:translateY(5px);
        
    }
    100%{
        transform:translateY(-5px);
        
    }

}